<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.report.report.mapper.AsynDownMapper">

    <insert id="save" parameterType="com.ruoyi.project.report.report.domain.AsynDown">
        insert into sys_asynDown(
        <if test="id != null and id != ''">id,</if>
        <if test="filePath != null and filePath != ''">filePath,</if>
        <if test="fileName != null and fileName != ''">fileName,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="msg != null and msg != ''">msg,</if>
        <if test="createDate != null and createDate != ''">createDate,</if>
        <if test="updateDate != null and updateDate != ''">updateDate,</if>
        <if test="deptName != null and deptName != ''">deptName,</if>
        <if test="timeInterval != null and timeInterval != ''">timeInterval</if>
        )values(
        <if test="id != null and id != ''">#{id},</if>
        <if test="filePath != null and filePath != ''">#{filePath},</if>
        <if test="fileName != null and fileName != ''">#{fileName},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="msg != null and msg != ''">#{msg},</if>
        <if test="createDate != null and createDate != ''">#{createDate},</if>
        <if test="updateDate != null and updateDate != ''">#{updateDate},</if>
        <if test="deptName != null and deptName != ''">#{deptName},</if>
        <if test="timeInterval != null and timeInterval != ''">#{timeInterval}</if>
        )
    </insert>


    <select id="selectAsynDownList" parameterType="com.ruoyi.project.report.report.domain.AsynDown"
            resultType="com.ruoyi.project.report.report.domain.AsynDown">
        select  id,filePath,fileName,status,msg,createDate,updateDate,timeInterval from sys_asynDown
        <where>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="deptName != null and deptName != ''">
            <bind name="deptName" value="deptName +'%'"/>
                and deptName like #{deptName}
            </if>
        </where>
    </select>

    <select id="selectAsynDown" parameterType="java.lang.String" resultType="com.ruoyi.project.report.report.domain.AsynDown">
         select id,filePath,fileName,status,msg,createDate from sys_asynDown
        where id = #{id}
    </select>

    <delete id="deleteAsynDownByIds"  parameterType="java.lang.String">
        delete from  sys_asynDown  where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateFile" parameterType="com.ruoyi.project.report.report.domain.AsynDown">
        update sys_asynDown
        <set>
            <if test="filePath != null and filePath != ''">filePath=#{filePath},</if>
            <if test="fileName != null and fileName != ''">fileName=#{fileName},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="msg != null and msg != ''">msg=#{msg},</if>
            <if test="updateDate != null and updateDate != ''">updateDate=#{updateDate}</if>
        </set>
        where id = #{id}
    </update>

</mapper>