<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baobiao.project.report.job.mapper.CursorMapper">
    <resultMap type="GlBal" id="DeptResult">
        <id        property="balUniq"     column="bal_uniq"     />
        <result property="accountId"   column="account_id"   />
        <result property="coCode"  column="co_code"   />
        <result property="fiscal"   column="fiscal"   />
        <result property="fisPerd"   column="fis_perd"   />
        <result property="accCode"   column="acc_code"   />
        <result property="accType"     column="acc_type"      />
        <result property="curCode"      column="cur_code"       />
        <result property="drAmt"      column="dr_amt"       />
        <result property="crAmt"     column="cr_amt"      />
        <result property="curdrAmt"    column="curdr_amt"    />
        <result property="curcrAmt" column="curcr_amt" />
        <result property="qtydrAmt"   column="qtydr_amt"   />
        <result property="qtycrAmt" column="qtycr_amt" />
        <result property="accItem1"   column="acc_item1"   />
        <result property="accItem2"   column="acc_item2"   />
        <result property="accItem3"   column="acc_item3"   />
        <result property="accItem4"   column="acc_item4"   />
        <result property="accItem5"   column="acc_item5"   />
        <result property="accItem6"   column="acc_item6"   />
        <result property="accItem7"   column="acc_item7"   />
        <result property="accItem8"   column="acc_item8"   />
        <result property="accItem9"   column="acc_item9"   />
        <result property="accItem10"   column="acc_item10"   />
        <result property="accItem11"   column="acc_item11"   />
        <result property="accItem12"   column="acc_item12"   />
        <result property="accItem13"   column="acc_item13"   />
        <result property="accItem14"   column="acc_item14"   />
        <result property="accItem15"   column="acc_item15"   />
        <result property="accItem16"   column="acc_item16"   />
        <result property="bCoCode"   column="b_co_code"   />
        <result property="bAccCode"   column="b_acc_code"   />
        <result property="temp"   column="temp"   />
        <result property="itemCode"   column="item_code"   />
        <result property="outlayCode"   column="outlay_code"   />
        <result property="itemIsn"   column="item_isn"   />
        <result property="cashflowCode"   column="cashflow_code"   />
        <result property="vouKind"   column="vou_kind"   />
        <result property="relation"   column="relation"   />
    </resultMap>

    <select id="selectByGlBal" resultType="com.baobiao.project.report.job.domain.GlBal">
        select  bal_uniq, account_id, co_code, fiscal, fis_perd, acc_code, acc_type, cur_code, dr_amt, cr_amt, curdr_amt, curcr_amt, qtydr_amt,
        qtycr_amt, acc_item1, acc_item2, acc_item3, acc_item4, acc_item5, acc_item6,acc_item7, acc_item8, b_co_code, b_acc_code, temp, acc_item10,
        acc_item9, acc_item11, acc_item12, acc_item13, acc_item14, acc_item15, acc_item16, item_code, outlay_code, item_isn, cashflow_code, vou_kind,2 AS relation
        from GL_BAL;
    </select>

    <select id="selectByGlPrebal" resultType="com.baobiao.project.report.job.domain.GlBal">
        select  bal_uniq, account_id, co_code, fiscal, fis_perd, acc_code, acc_type, cur_code, dr_amt, cr_amt, curdr_amt, curcr_amt, qtydr_amt,
        qtycr_amt, acc_item1, acc_item2, acc_item3, acc_item4, acc_item5, acc_item6,acc_item7, acc_item8, b_co_code, b_acc_code, temp, acc_item10,
        acc_item9, acc_item11, acc_item12, acc_item13, acc_item14, acc_item15, acc_item16, item_code, outlay_code, item_isn, cashflow_code, vou_kind,1 AS relation
        from GL_PREBAL;
    </select>


</mapper>