<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.report.Z03.mapper.Z03Mapper">

    <select id="selectReport" resultType="java.util.Map" parameterType="java.util.Map">
        select sum(gb.CR_AMT) as "caAmt", gb.B_ACC_CODE as "bAccCode",gb.ACC_CODE as "accCode" from GL_BAL gb
        <where>
            gb.B_ACC_CODE != '*'
            <if test="bAccCode != null and bAccCode != ''">
                and B_ACC_CODE = #{bAccCode}
            </if>
            <if test="accCode != null and accCode != ''">
                and ACC_CODE = #{accCode}
            </if>
            <if test="deptId != null and deptId != ''">
                <bind name="deptId" value="deptId+'%'"/>
                and gb.co_code Like #{deptId}
            </if>
            <if test="beginTime != null and beginTime != '' ">
                AND gb.FISCAL|| '-' || lpad(gb.FIS_PERD,2,'0') <![CDATA[  >= ]]> #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                AND gb.FISCAL|| '-' || lpad(gb.FIS_PERD,2,'0') <![CDATA[  <= ]]> #{endTime}
            </if>
        </where>
        group by gb.B_ACC_CODE, gb.ACC_CODE
    </select>


    <select id="selBAccCode" resultType="java.util.Map" parameterType="java.util.Map">
        select t.B_ACC_CODE as "bAccCode" , bac.B_ACC_NAME as "bAccName" from
            (select distinct(gb.B_ACC_CODE)  from GL_BAL gb  where gb.B_ACC_CODE  != '*' ) t
             LEFT JOIN MA_BACC bac ON t.B_ACC_CODE = bac.B_ACC_CODE
            GROUP BY t.B_ACC_CODE ,bac.B_ACC_NAME
            order by t.B_ACC_CODE
    </select>


</mapper>