<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('预警监控数据分析')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="analysis-form">
                <div class="select-list">
                    <ul>
                        <li class="select-list" style="width: 300px">
                            <label>归属部门： </label>
                            <div class="input-group">
                                <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text"
                                       placeholder="请选择归属部门" class="form-control" required style="width: 230px">
                            </div>
                        </li>
                        <li style="width: 130px">
                            <select class="form-control noselect2 selectpicker" id="year" name="year">
                                <option value="">-- 请选择年份--</option>
                                <option id="2021" value="2021">2021年</option>
                                <option id="2020" value="2020">2020年</option>
                                <option id="2019" value="2019">2019年</option>
                                <option id="2018" value="2018">2018年</option>
                                <option id="2017" value="2017">2017年</option>
                                <option id="2016" value="2016">2016年</option>
                            </select>
                        </li>

                        <li style="width: 130px">
                            <select class="form-control noselect2 selectpicker" data-none-selected-text="--请选择月份--"
                                    multiple id="months" name="months">
                                <option class="fa fa-check-circle" value="0">&nbsp;&nbsp;&nbsp;0月</option>
                                <option id="1" class="fa fa-check-circle" value="1">&nbsp;&nbsp;&nbsp;1月</option>
                                <option id="2" class="fa fa-check-circle" value="2">&nbsp;&nbsp;&nbsp;2月</option>
                                <option id="3" class="fa fa-check-circle" value="3">&nbsp;&nbsp;&nbsp;3月</option>
                                <option id="4" class="fa fa-check-circle" value="4">&nbsp;&nbsp;&nbsp;4月</option>
                                <option id="5" class="fa fa-check-circle" value="5">&nbsp;&nbsp;&nbsp;5月</option>
                                <option id="6" class="fa fa-check-circle" value="6">&nbsp;&nbsp;&nbsp;6月</option>
                                <option id="7" class="fa fa-check-circle" value="7">&nbsp;&nbsp;&nbsp;7月</option>
                                <option id="8" class="fa fa-check-circle" value="8">&nbsp;&nbsp;&nbsp;8月</option>
                                <option id="9" class="fa fa-check-circle" value="9">&nbsp;&nbsp;&nbsp;9月</option>
                                <option id="10" class="fa fa-check-circle" value="10">&nbsp;&nbsp;&nbsp;10月</option>
                                <option id="11" class="fa fa-check-circle" value="11">&nbsp;&nbsp;&nbsp;11月</option>
                                <option id="12" class="fa fa-check-circle" value="12">&nbsp;&nbsp;&nbsp;12月</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-warning btn-rounded btn-sm" id="report" shiro:hasPermission="review:analysis:report" ><i
                                    class="fa fa-toggle-right"></i>&nbsp;重新统计全部数据</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="exportAnalysisExcel()"  shiro:hasPermission="review:analysis:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">

    var prefix =   ctx + "review/analysis";

    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            sortName: "cocode",
            columns: [
                {
                    field: 'coCode',
                    title: '单位代码'
                },
                {
                    field: 'coName',
                    title: '单位名称',
                },
                {
                    field: 'queNum',
                    title: '问题数量',
                },
                {
                    field: 'createDate',
                    title: '创建时间',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push("<a class='btn btn-info btn-xs' href='javascript:void(0)' onclick='detailed(" + row.coCode + ")'><i class='fa fa-list-ul'></i>&nbsp;明细</a>");
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    //重新统计数据
    $("#report").click(function () {
        let formToJSON = $.common.formToJSON('analysis-form');
        $.ajax({
            url: prefix + "/report", // //请求路径
            type: "post",// "post", //请求方式
            dataType: 'json', //期望获得的返回值类型
            data: formToJSON,
            async: false, //是否异步
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    // $.modal.enable();
                    $.modal.alertSuccess(result.msg)
                    $.table.refresh();
                } else if (result.code == web_status.WARNING) {
                    $.modal.enable();
                    $.modal.alertWarning(result.msg)
                } else if (result.code == 201) {
                    $.modal.enable();
                    $.modal.alertSuccess(result.msg)
                } else {
                    $.modal.enable();
                    $.modal.alertError(result.msg);
                }
            }
        });
    })

    let date = new Date();
    let dateYear = date.getFullYear();             //获取年
    let dateMonth = date.getMonth() + 1;               //获取月

    $.ajax({
        url: "/system/dept/getDept", // //请求路径
        type: "get",// "post", //请求方式
        dataType: 'json', //期望获得的返回值类型
        async: false, //是否异步
        success: function (data) {
            $("#treeId").val(data[0].deptId);
            $("#treeName").val(data[0].deptName);
            //赋值 年月
            $('#' + dateYear).attr('selected', 'selected');
            $('#' + dateMonth).attr('selected', 'selected');
        }
    });

    /*部门管理-新增-选择父部门树*/
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "141" : $("#treeId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }


    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }

    //重置
    function refresh(formId) {
        $('#treeId').attr('value', '');
        $.form.reset(formId);
    }

    /* 明细查询 */
    function detailed(coCode) {
        var url = prefix + '/detailed/' + coCode;
        console.log(url)
        $.modal.openTab("问题明细", url);
    }

    // 导出数据
    function exportAnalysisExcel() {
        let formToJSON = $.common.formToJSON('analysis-form');
        table.set();
        $.modal.confirm("确定导出所有统计的数据吗？", function() {
            // var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
            // var params = $("#" + table.options.id).bootstrapTable('getOptions');
            // var dataParam = formToJSON;
            // dataParam.push({ "name": "orderByColumn", "value": params.sortName });
            // dataParam.push({ "name": "isAsc", "value": params.sortOrder });
            $.modal.loading("正在导出数据，请稍后...");
            $.post(table.options.exportUrl, formToJSON, function(result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        });
    }
</script>
</body>
</html>